.rest{
    background-image: url("../back.jpg");
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    /* border: 2px solid black; */
    height: 80vh;
    width: 100vw;
    overflow-y: scroll;
}
.send{
    width: 30%;
    margin: 1%;
}
.send .btn{
    width: 6%;
    height: 25px;
    margin-bottom: 3px;
}
.send .btn .bi{
    cursor: pointer;
    height: 20px;
    background: transparent;
    color: rgb(225, 219, 21);
    width: 20px;
    font-weight: 700;
    font-size: 25px;
    position: relative;
    bottom: 13px;
    right: 8px;
}
#messageInp{
    width: 85%;
    height: 100%;
    border: 2px solid rgb(255,219,21);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    color: white;
    border-radius: 10px;
}
.message{
    width: 25%;
    min-height: 20px;
    padding: 3px;
    margin: 5px;
    border: 2px solid black;
    color: black;
    font-size: 18px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.left{
    float: left;
    clear: both;
    overflow-wrap: break-word;
    background-color: #2F80ED;
}
.right{
    float: right;
    clear: both;
    overflow-wrap: break-word;
    background-color: #2F80ED;
}
footer{
    height: 118px;
    margin: 0;
    width: 100%;
    background-color: black;
}
.v-class{
    display: none;
}
.contact{
    text-decoration: none;
}
.can{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.about{
    font-size: 18px;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.offcanvas{
    background-image: linear-gradient(#CEB5B7,#BCBD8B);
}
@media only screen and (max-width:550px){
    .rest{
        display: block;
    }
    .message{
        max-width: 60vw;
        min-width: 30vw;
        padding-left: 5px;
        border: 1px solid black;
        color: black;
        font-size: 13px;
        border-radius: 8px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        overflow-wrap: break-word;
    }
    #send-container{
        margin: 0px;
    }
    .container{
        padding: 10px;
    }
    .send{
        width: 80%;
        margin-left: 60px;
    }
    #messageInp{
        width: 80%;
    }
}
